div {
  border: 1px solid black;
}

.header {
  display: flex;
  position: fixed;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  
  border-bottom: 1px solid black;
  height: 80px;
  width: 100%;


}

.header img {
  padding-left: 30px;
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

#headerNav a {
  display: inline-block;
  color: black;
  padding: 20px 10px;

  }

#headerNav {
  width: 100%;
  text-align: right;
  padding-right: 40px;
}

.myTimes {
  color: MediumAquamarine;
  width: 100%;

}

.content {
  padding-top: 116px;
  display: inline-flex;
}

.column.large {
  width: 630px;
  border: 1px solid black;


}

.column.medium {
  width: 300px;
  border: 1px solid black;

}

.column.small {
  width: 240px;
  border: 1px solid black;

}
